.transactionScreen {
    width: 540px;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.transactionScreen thead tr {
    background-color: #393939;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.transactionScreen th,
.transactionScreen td {
    padding: 12px 15px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: normal;
}

.transactionScreen tbody tr {
    border-bottom: 1px solid #dddddd;
}

.transactionScreen tbody tr:nth-of-type(even) {
    background-color: #cccccc;
}

.transactionScreen tbody tr:last-of-type {
    border-bottom: 2px solid #393939;
}

.transactionScreen tbody tr.active-row {
    font-weight: bold;
    color: #393939;
}